<%- include('components/_title', { t: education }); %>
<% education.list.map((current, i) => { %>
  <section id="education_<%= i %>" class="education joined-section">
    <div class="column education__meta">
      <span class="education__meta__name h3"><%= current.name %></span>
      <span class="education__meta__dates">
        <% current.dates.map((date, di) => { %>
          <%- di === 0 ? "" : current.datedelimiter || " - " %>
          <%- ["NOW_YEAR"].includes(date) ? new Date().getFullYear() : date %>
        <% }) %>
      </span>
      <span class="education__meta__qualification"><%= current.qualification %></span>
    </div>
    <div class="column education__description">
      <p>
        <%= current.description %>
      </p>
    </div>
  </section>
<% }) %>